body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


header {
  /* background-color: #040D22; */
  position: relative;
}
header .forms input.form-control {
  color: white;
  background-color: rgba(255,255,255,.15);
  border-color: rgba(255,255,255,.3);
}
header .forms input.form-control::placeholder {
  color: rgba(255,255,255,.6);
}
header [data-bs-toggle="offcanvas"] {
  display: none;
}
header .offcanvas .list-group-item {
  padding: 16px;
}
header .offcanvas .list-group-item a {
  color: black;
  text-decoration: none;
}
header .offcanvas .list-group-item a:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
  header .logo {
    flex-grow: 1;
  }
  header .nav,
  header .forms input.form-control,
  header .forms .btn-link {
    display: none;
  }
  header [data-bs-toggle="offcanvas"] {
    display: block;
  }
}


section.hero {
  background-color: #040D22;
  position: relative;
  overflow: hidden;
}
section.hero img.globe {
  width: 900px;
  position: absolute;
  top: -5%;
  left: 46%;
}
section.hero img.glow {
  width: 200%;
  height: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.hero .container {
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}
section.hero .headline h1 {
  font-size: 68px;
  font-weight: 700;
  letter-spacing: -2px;
}
section.hero .headline p {
  font-size: 26px;
}
section.hero .curve {
  position: absolute;
  bottom: -1px;
  left: 0;
}


section.youtube {
  position: relative;
}
section.youtube .container {
  padding-top: 90px;
  padding-bottom: 70px;
  position: relative;
}
section.youtube img.astronaut {
  width: 480px;
  position: absolute;
  top: -420px;
  right: 0;
}
section.youtube .ratio {
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}
@media (max-width: 768px) {
  section.youtube img.astronaut {
    display: none;
  }
}


section.features {

}
section.features .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
section.features .card {
  color: #627597;
  border: none;
}
section.features .card img {
  padding: 30px 60px;
}
@media (max-width: 576px) {
  section.features .card img {
    padding: 20px 30px;
  }
}


section.map {

}
section.map .container {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #627597;
}
section.map h1 {
  font-weight: 700;
  font-size: 44px;
}
section.map p {
  font-size: 24px;
}
#map {
  height: 500px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 10px;
  z-index: 1;
}


footer {
  background-color: #040D22;
  position: relative;
  margin-top: 20%;
}
footer .curve {
  transform: scale(1,-1);
  position: absolute;
  top: -1px;
  left: 0;
}
footer .container {

}
footer img.illustration {
  width: 100%;
  margin-top: -33%;
  margin-bottom: 50px;
  transform: scale(-1,1);
}
footer img.logo {
  opacity: .4;
}
footer h5 {
  font-weight: 700;
  color: rgba(255,255,255,.4);
  margin-bottom: 20px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: rgba(255,255,255,.4);
  text-decoration: none;
  transition: .3s;
}
footer ul li a:hover {
  color: white;
}
footer .site-links {
  margin: 0; /* Bootstrap을 통해 적용된 여백 초기화 */
  margin-top: 60px;
  padding: 20px;
  background-color: rgba(255,255,255,.05);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .site-links li {
  color: rgba(255,255,255,.4);
  margin: 0;
  margin-right: 20px;
}
footer .site-links li:last-child {
  margin-right: 0;
}
@media (max-width: 992px) {
  footer {
    text-align: center;
  }
  footer img.logo {
    margin-bottom: 50px;
  }
}
